@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

/*pseudo clases :root   ==  html   pero con mas prioridad*/
:root {
  font-size: 16px;
  --white30: white;
  --white20: #A5A3A5;
  --white10: #3A3539;
}

body {
  color: var(--white30);
  font-family: 'Nunito', sans-serif;
  background: #251F24;
  margin: 0;
  /* writing-mode: vertical-lr; */
  /* margin: 10px 10px 10px 10px; physical*/
  /* margin-inline: 100px ; */
  /* margin-block: 100px; */
  /* margin-block-start: 50px; */
}

a {
  color: var(--white30);
}

.header {
  position: sticky;
  inset-block-start: -45px;
}

.header-content {
  position: relative;
  inset-block-start: 65px;
}

header {
  /* --white:red; */
  font-size: 14px;
  color: var(--white);
  position: absolute;
  /* top */
  inset-block-start: 0px;
  /* bottom */
  /* inset-block-end: ; */
  /* left */
  inset-inline-start: -208px;
  /* right */
  /* inset-inline-end: ; */
  inline-size: 188px;
}

header li {
  color: var(--white20);
  margin-block-end: 16px;
}

header a {
  color: var(--white20);
  text-decoration: none;
}

header a:hover {
  color: var(--white30);
}

nav details summary {
  font-weight: bold;
}

h1 h2 h3 {
  font-weight: normal;
}

h1 {
  font-size: 60px;
  margin-block-start: 64px;
  margin-block-end: 16px;
  /* font-size: 3.75em; <=  60px/16px = 3.75em*/
  /* text-decoration: underline; */
}

h2 {
  font-size: 2em;
  margin-block: 40px;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-block: 16px;
}

hr {
  margin-block: 40px;
  border-color: rgba(97, 97, 97, 0.2);
}

pre {
  background: var(--white10);
  padding: 40px;
  overflow: auto;
  border-radius: 8px;
  border: 10px solid #5551ff;
  box-shadow: -10px 10px 0 0 #abaaf6;
  margin-block-end: 30px;
  /* border-radius: 50%;
  inline-size: 400px;
  block-size: 400px; */
  /* border-start-start-radius:60px; */
}

p {
  color: var(--white20);
}

.hero {
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  /* background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent), url('../images/pattern.png'); */
  height: 350px;
}

.section-content img {
  margin-block-start: 40px;
  display: block;
}

.section-content {
  counter-reset: patito;
}

.section-content h3 {
  counter-increment: patito;
}

.section-content h3::before {
  /* content: counter(patito, upper-roman)'.-';*/
  content: counter(patito, decimal)'. ';
}

/* .section-content h3::after {
  content: '';
  width: 32px;
  height: 4px;
  background: red;
  display: inline-block;
} */

blockquote {
  margin-block-start: 80px;
  margin-block-start: 63px;
  background-color: var(--white10);
  border-radius: 8px;
  line-height: 32px;
  font-size: 24px;
  /* padding: 24px; */
  padding-inline-end: 24px;
  padding-inline-start: 24px;
  padding-block-start: 24px;
  padding-block-end: 24px;
}

blockquote p {
  color: var(--white30);
}

.main hr {
  display: none;
}

main {}

.wrapper {
  max-inline-size: 902px;
  margin: auto;
}

.main-content {
  padding-inline: 16px;
}

.slider-container {
  /* block-size: 100px; => no tienen un alto u anclo los enline */
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  overflow-x: hidden;
}

.video {
  margin: 0;
  display: inline-block;
  /*inline no tiene tamaño, block le permite tenerlo*/
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.slider-bullet-list{
text-align: center;
margin-block-start: 10px;
}

.slider-bullet{
display: inline-block;
inline-size: 15px;
block-size: 15px;
border-radius: 50%;
background: white;
}