@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

/*pseudo clases :root   ==  html   pero con mas prioridad*/
:root {
  font-size: 16px;
  --gray30: #212121;
  --gray25: #212429;
  --gray20: #424242;
  --gray10: #616161;
}

/* html {
  font-size: 16px;<=por defecto
} */

body {
  color: var(--gray30);
  font-family: 'Roboto', sans-serif;
  /* font-family: charter; */
  margin: 0;
}

a {
  color: var(--gray30);
}

header {
  font-size: 14px;
  color: var(--gray10);
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray30);
}

nav details summary {
  /* color: red; */
  font-weight: bold;
}
/*Clase utilitaria p/ solamente hacer mi debug*/
.debug {
  box-shadow:inset 0 0 20px orange;

  outline: 10px solid red;
    /* //NOTA: outline => no afecta el modelo de caja */
  background: pink;

  border: 1px solid greenyellow !important;
  box-sizing: border-box;
    /* //NOTA:!important=>para no ser afectado por la cascada*/
}


h1 {
  font-size: 60px;
  /* font-size: 3.75em; <=  60px/16px = 3.75em*/
  /* text-decoration: underline; */
  margin-top: 64px;
  margin-bottom: 16px;
}

/* h1 + p {
 margin-bottom: 64px;
} */

hr{
  margin: 64px 0;
}

h2 {
  font-size: 2em;
  /* <=  32px / 16px = 2em */
  margin:64px 0 40px 0;
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
}

pre {
  background: #FEC62E;
  padding: 40px;
  font-family: 'Roboto';
  line-height: 24px;
}

blockquote {
  font-size: 24px;
  margin: 32px 0;
  padding-left: 16px;
  line-height: 24px;
  border-left: 4px solid var(--gray30);
  /* border: 10px solid red;
  border-top: 10px solid pink;
  border-top-color: aqua;
  border-top-style: dashed;
  border-radius: 50px 100px 10px 0; */
}

blockquote span{
  color: var(--gray10);
}

blockquote span::before{
  content: '-';
}


.hero {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent), url('../images/pattern.png');
  height: 350px;
}

.section-content {
  margin-top: 164px;
}
.section-content:first-of-type {
  margin: 0;
}

.section-content ol li {
  line-height: 24px;
}

.section-content ul li{
margin-bottom: 16px;
}

.section-content + hr{
  display: none; /*Para ocultar el hr*/
}

.section-content img {
  margin-top: 40px;
}

.section-content {
  counter-reset: patito;

}

.section-content h3 {
  counter-increment: patito;
  /* background: red; */
  padding-bottom: 4px;
}

.section-content h3::before {
  /* content: counter(patito, upper-roman)'.-'; */
  content: counter(patito)'.- ';
}

.section-content h3::after {
  content: '';
  width: 32px;
  height: 4px;
  background: red;
  display: inline-block;
}

/* ::selection {
  background: green;
} */