@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

/*pseudo clases :root   ==  html   pero con mas prioridad*/
:root {
  font-size: 16px;
  --white30: white;
  --white20: #A5A3A5;
  --white10: #3A3539;
}

body {
  color: var(--white30);
  font-family: 'Nunito', sans-serif;
  background: #251F24;
}

a {
  color: var(--white30);
}

header {
  /* --white:red; */
  font-size: 14px;
  color: var(--white);
}

header li {
  color: var(--white20);
}

header a {
  color: var(--white20);
  text-decoration: none;
}

header a:hover {
  color: var(--white30);
}
nav details summary {
  font-weight: bold;
}

h1 h2 h3{
  font-weight: normal;
}

h1 {
  font-size: 60px;
  /* font-size: 3.75em; <=  60px/16px = 3.75em*/
  /* text-decoration: underline; */
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

pre {
  background: var(--white10);
}

p{
  color: var(--white20);
}

.hero {
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  /* background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent), url('../images/pattern.png'); */
  height: 350px;
}

.section-content {
  counter-reset: patito;
}

.section-content h3 {
  counter-increment: patito;
}

.section-content h3::before {
  content: counter(patito, upper-roman)'.-';
}

.section-content h3::after {
  content: '';
  width: 32px;
  height: 4px;
  background: red;
  display: inline-block;
}

/* ::selection {
  background: green;
} */